body{
    background-image: url("images/Gamer.jpg");
    font: bold 18px Delicious;
    color: #FFFFFF;  
    margin : 0px;
}
@font-face{
    font-family: 'Delicious';
    src:url(Delicious-SmallCaps.otf);

}
.menu {
    margin: 250px auto 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 25px;
    height: 50px;
    line-height: 48px;

}
.menu a {
    color : white;
}
.menu a:link{
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.menu a:hover{
    font-size : 180%;
}